In [1]:
import os
import pathlib
import requests

import pandas as pd

from sqlalchemy import create_engine
from dotenv import load_dotenv, find_dotenv


load_dotenv(find_dotenv())

True

In [2]:
postgres_ip = os.getenv('POSTGRES_IP')
postgres_pass = os.getenv('POSTGRES_PASS')

In [3]:
engine = create_engine(f"postgresql://teal:{postgres_pass}@{postgres_ip}:5432/streamlit_hw_db")

with engine.connect() as conn:
    result = conn.execute("select 'hello from remote postgres on vps!'")
    print(result.first())

('hello from remote postgres on vps!',)

In [8]:
url = 'https://github.com/aiedu-courses/stepik_linear_models/tree/main/datasets'

response = requests.get(url)
paths = [i['path'] for i in response.json()['payload']['tree']['items']]

for url in paths:
    if len(i:= url.split('/')[1].split('.')[0].split('_')) == 1:
        df_name = i[0].lower()
    else:
        df_name = i[1].lower()
        
        
    locals()[f'df_{df_name}'] = pd.read_csv(f'https://raw.githubusercontent.com/aiedu-courses/stepik_linear_models/main/{url}',
                                            index_col=0)
    print(f'df_{df_name} added to locals')
    
    try:
        locals()[f'df_{df_name}'].to_sql(df_name, engine)
        
        print(f'{df_name} saved in remote postgres\n')
        
    except:
        with engine.connect() as conn:
            result = conn.execute(f"drop table {df_name}")
            
        locals()[f'df_{df_name}'].to_sql(df_name, engine)
        
        print(f'{df_name} saved in remote postgres\n')

df_clients added to locals
clients saved in remote postgres

df_close added to locals
close saved in remote postgres

df_job added to locals
job saved in remote postgres

df_last added to locals
last saved in remote postgres

df_loan added to locals
loan saved in remote postgres

df_pens added to locals
pens saved in remote postgres

df_salary added to locals
salary saved in remote postgres

df_target added to locals
target saved in remote postgres

df_work added to locals
work saved in remote postgres

df_winequalityreds added to locals
winequalityreds saved in remote postgres

In [7]:
pd.read_sql_query("SELECT * FROM winequalityreds", engine)

,index,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,2,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,3,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,4,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,1595,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,1596,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,1597,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,1598,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,1599,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6